@font-face {
    font-family: 'GmarketSans';
    src: url('../../public/fonts/GmarketSansBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('../../public/fonts/GmarketSansLight.otf') format('opentype');
    font-weight: 300; /* light는 일반적으로 300의 폰트 가중치에 해당합니다. */
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('../../public/fonts/GmarketSansMedium.otf') format('opentype');
    font-weight: 500; /* medium은 일반적으로 500의 폰트 가중치에 해당합니다. */
    font-style: normal;
}
